body {
    font: 30px "Century Gothic", Futura, sans-serif;
    background-color: rgba(115, 255, 255, 0.247);
  
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: rgba(3, 102, 64, 0.356);
    border: 1px solid #000000;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 95px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 95px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  
  .game-info {
    margin: auto;
  }
  